<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#logout').click(function (event) {
                event.preventDefault();  // Prevent the default button action

                $.ajax({
                    url: "/members/auth/logout",
                    method: "POST",
                    contentType: 'application/json'
                }).done(function () {
                    // Handle successful logout
                    window.location.href = '/login';
                }).fail(function () {
                    // Handle logout error
                    alert("Logout failed.");
                });
            });
        });
    </script>

</head>
<style>
    .wrap {
        width: 950px;
        margin: auto;
        background-color: white;
    }
</style>
<body>

<meta charset='utf-8'/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
<div class="wrap" id="wrap">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var eventArray = [];
        <th:block th:if="${events != null}">
            <th:block th:each="event : ${events}">
                <th:block th:if="${event != null}">
                    eventArray.push({
                        id: [[${event.id}]],
                        start: [[${event.start}]],
                        title: [[${event.title}]] || '',
                        url: [[${event.url}]]
                    });
                </th:block>
            </th:block>
        </th:block>
        /*]]>*/
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                height: 720,
                aspectRatio: 1.1,
                locale: 'ko',
                initialView: 'dayGridMonth',
                selectable: false,
                headerToolbar: {
                    end: 'custom1 today prev next'
                },
                events: eventArray,
                eventColor: '#F1F8E0',
                eventClick: function (info) {
                    info.jsEvent.preventDefault();
                    if (info.event.url) {
                        location.href = info.event.url;
                    }
                },
                customButtons: {
                    custom1: {
                        text: 'write',
                        click: function () {
                            location.href = "/auth/login" //수정해야 함
                        }
                    }
                }
            });
            calendar.render();
        });
    </script>
    <div id='calendar'></div>
    <div style="text-align:center">
        <br>
        <button type="button" class="btn btn-secondary btn-lg" id="logout">Logout</button>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>
