<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recommended Friends</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
    // Add click event for each "Add Friend" button
    $('.addFriendBtn').click(function() {
        var username = $(this).data('member-id');
        $.ajax({
            url: '/members/addFriend/' + username, // 이거 메소드 만들기 그냥 id로 받을지 생각하기.?
            type: 'POST',
            success: function(response) {
                alert('Friend request sent!');
            },
            error: function() {
                alert('Error sending friend request.');
            }
        });
    });
});
    </script>
</head>
<body>
<h1>친구 추천 목록</h1>
<div id="membersList">
    <div th:each="member : ${members}">
        <span th:text="${member.username}">Username</span>
        <button class="addFriendBtn" th:data-member-id="${member.username}">Add Friend</button>
    </div>
</div>
</body>
</html>